body {
    background-color: black;
}

.principal {
    background-color: rgb(245, 245, 245);;
    width: 600px;
    height: 500px;
    margin:30px auto;
}

p {
    text-align: center;
    font-size: 75px;
    color: rgb(238, 225, 225);
    margin-bottom: 0;
}

.tarjeta {
    position: relative;
    z-index: 3;
    width: 70%;
    background-color: white;
    border: 1px solid grey;
    margin: 0 auto;
}

.tarjeta2 {
    position: relative;
    z-index: 2;
    transform: translateY(-15px);
    height: 20px;
    width: 69%;
    background-color: white;
    border: 1px solid grey;
    margin: 0 auto;
}

.tarjeta3 {
    position: relative;
    z-index: 1;
    transform: translateY(-30px);
    height: 20px;
    width: 68%;
    background-color: white;
    border: 1px solid grey;
    margin: 0 auto;
    box-shadow: 0px 13px 20px 0px lightgray;
}

input {
    border: none;
    width: 100%;
    padding: 10px 50px;
    border-bottom: 1px solid lightgrey;
}

ul li {
    list-style: none;
    padding: 10px 15px 10px 50px;
    border-bottom: 1px solid lightgrey;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
}

.contador {
   padding: 5px 15px;
   color: rgb(213, 216, 215);
}


.icono {
    color: red;
    visibility: hidden;
}

.hover {
    visibility: visible;
}

.agregarTarea {
    color: lightgrey;
}

